node_modules

# Output
.output
.vercel
.netlify
.wrangler
.dev.vars
.dev.vars.*
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
output/
test-results/
playwright-report/
supabase/.temp/
supabase/.branches/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.env*
!.env.example
